<div class="main-content">
    <ngx-spinner [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" name="recherche" type="ball-pulse">
        <p style="font-size: 20px; color: white">Veuillez patienter svp...</p>
    </ngx-spinner>
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color: #608cc9" id="menu-titre">
                <div class="card-header" style="
              padding-top: 0 !important;
              padding-bottom: 0 !important;
              color: #fff;
              font-weight: bold;
              text-transform: uppercase;
            ">
                    <h5 class="card-title text-center" style="padding-top: 0 !important; padding-bottom: 0 !important">
                        Consultation des catalogues
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <fieldset>
                        <!-- <legend id="legend">
                          <i class="fa fa-save pr-2"></i> Information
                      </legend> -->
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label class="text-info">Matricule</label>
                                <input type="text" class="form-control text-uppercase" placeholder="{{ user?.matricule}}" disabled/>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="text-info">Service</label>
                                <input type="text" class="form-control text-uppercase" placeholder="{{ user?.service }}" disabled/>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="text-info">Direction</label>
                                <input type="text" class="form-control text-uppercase" placeholder="{{ user?.direction }}" disabled />
                            </div>
                            <div class="form-group col-md-2">
                                <label class="text-info">Date et heure</label>
                                <p> <time datetime="2001-05-15T19:00">le 15 mai</time>.</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <fieldset>
                        <legend id="legend">
                            <i class="fa fa-save pr-2"></i> Recherche
                        </legend>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="text-info">Theme</label>
                                <select [(ngModel)]="ngModelTheme" name="theme" class="custom-select text-uppercase" style="font-size: 15px; color:gray;" required>
                                  <option  *ngFor="let item of theme" value="{{ item.theme_Code }}" >{{ item.theme_libelle }}</option>
                              </select>
                            </div>
                            <div class="form-group col-md-3">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="text-info">Champs</label>
                                <select [(ngModel)]="ngModelChamps" class="custom-select text-uppercase" style="font-size: 15px; color:gray;" required>
                                <option *ngFor="let item of colone" value="{{ item }}">{{ item }}</option>
                              </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="text-info">Valeur</label>
                                <input [(ngModel)]="ngModelChampsValue" type="text" class="form-control text-uppercase" placeholder="Text....." />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <button type="button" rel="tooltip" (click)="listeOuvrageDispo()" class="btn btn-cnaps-box-save btn-cnaps-save btn-lg btn-block btn-sm">
                                    <i class=""></i>Afficher Ouvrage Dispo
                                  </button>
                            </div>
                            <div class="form-group col-md-6">
                                <button (click)="recherche()" type="button" rel="tooltip" class="btn btn-cnaps-box-shadow btn-lg btn-block btn-sm">
                            <i class=""></i>Rechercher
                          </button>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="button" rel="tooltip" (click)="navigateAll()" class="btn btn-cnaps-box-save btn-cnaps-save btn-lg btn-block btn-sm">
                          <i class=""></i>Afficher tout
                        </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row"  *ngFor="let catalogue of catalogues | paginate
    : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      };
let i = index">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <fieldset>
                        <legend id="legend">
                            <i class="fa fa-save pr-2"></i> Cote: {{ catalogue.doc_cote }}
                        </legend>
                        <div class="modal-header">
                            <h5 class="art-shadow">
                                Details catlogue: {{ catalogue.doc_titre }}
                            </h5>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 text-center">
                                <h6>{{ catalogue.doc_sous_titre }}</h6>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 text-center">
                                <h6>Resume</h6>
                                <p class="text-muted">
                                    {{ catalogue.doc_resume }}
                                </p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="text-left">Auteur:</td>
                                            <td class="text-muted">{{ catalogue.doc_editeur }}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="form-group col-md-12">
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="text-left">Nombre des pages:</td>
                                            <td class="text-muted">
                                                {{ catalogue.doc_nombre_page }}
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5"></div>
                            <div class="form-group col-md-2">
                                <!-- <button class="btn rond1" data-toggle="modal" data-target="#confirm"><i class="fas fa-question"></i></button> -->
                                <button (click)="setCatlogueDetails(catalogue)" data-toggle="modal" data-target="#confirm" type="button" rel="tooltip" class="btn btn-cnaps-box-shadow btn-cnaps-save btn-lg btn-block btn-sm">
                  <i class="fa fa-save pr-2"></i>Details
                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        
        
    </div>
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
</div>

<div id="confirm" class="modal fade" role="dialog">
    <div class="katan">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content p-2">
                <div class="modal-header">
                    <h5 class="art-shadow">Details catlogue: {{ cataloguesDetails.doc_cote }} </h5>
                    <button  type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="ico-times" role="img" aria-label="Cancel"></i></button>
                </div>
                <div class="modal-header">
                    <h5 class="{{ textDispo }}">
                        <ngx-spinner [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" name="dispos" type="ball-pulse">
                            <p style="font-size: 20px; color: white">Veuillez patienter svp...</p>
                        </ngx-spinner>
                        {{ texteDispovalue }}
                    </h5>
                    <button (click)="saveDemande()" data-dismiss="modal" type="button" class="btn btn-cnaps-save btn-sm {{ buttonDemande }}" >
                        Demander
                    </button>
    
                    <!-- <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div> -->
                </div>
                <div class="modal-content p-2">
                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <fieldset>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_sous_titre!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            Titre:
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-10">
                                        <p>
                                            {{ cataloguesDetails.doc_titre }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_sous_titre!=null" >
                                    <div class="form-group col-md-2">
                                        <legend>
                                            SOUS-TITRE:
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_sous_titre }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_sous_titre!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            AUTEUR:
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_sous_titre }}
                                        </p>
                                    </div>
                                </div>
                                <!-- <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            CO-AUTEUR:
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            tsy hita
                                        </p>
                                    </div>
                                </div> -->
                                <div class="form-row" *ngIf="cataloguesDetails.doc_nombre_page!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            NOMBRE DES PAGES :
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_nombre_page }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="nombreExemplaire!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            NOMBRE DES EXEMPLAIRES :
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ nombreExemplaire }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_volume!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            VOLUME :
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_volume }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_editeur!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            EDITEUR :
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_editeur }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_date_edition!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            DATE D'EDITION :
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_date_edition }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_lieu_edition!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            LIEU D'EDITION :
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_lieu_edition }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_numero_edition!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            NUMERO D'EDITION :
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_numero_edition }}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="cataloguesDetails.doc_isbn_issn!=null">
                                    <div class="form-group col-md-2">
                                        <legend>
                                            NUMERO ISBN/ISSN :
                                        </legend>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p>
                                            {{ cataloguesDetails.doc_isbn_issn }}
                                        </p>
                                    </div>
                                </div>
    
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">FERMER</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <calogueDetails-item [nombreExemplaire]="nombreExemplaire" [catalogue]="cataloguesDetails"></calogueDetails-item> -->
</div>