<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card" style="background-color: #608cc9" id="menu-titre">
        <div
          class="card-header"
          style="
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
          "
        >
          <h5
            class="card-title text-center"
            style="padding-top: 0 !important; padding-bottom: 0 !important"
          >
            TITRE - PAGE VIDE
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">VOTRE CONTENU</div>
      </div>
    </div>
  </div>
</div>
