<nav
  [ngClass]="{
    navbar: true,
    'fixed-top': true,
    'navbar-expand-lg': true,
    'bg-primary': true,
    'hide-sidebar': config?.hideSideBar || config?.hideMenuButton
  }"
  style="
    background-color: #103373 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  "
>
  <div class="container-fluid">
    <!-- <ul class="navbar-nav mr-auto" style="color: #103373">
      a
    </ul> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="!config?.hideMenuButton">
          <div
            [ngClass]="{
              'navbar-wrapper': true,
              'hide-sidebar': config?.hideSideBar
            }"
          >
            <div
              class="navbar-toggle d-flex"
              (click)="sidebarToggle()"
              style="cursor: pointer"
            >
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
              <span class="mt-1" style="color: #fff">Menu</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="config?.hideMenuButton">
          <div
            [ngClass]="{
              'navbar-wrapper': true,
              'hide-sidebar': config?.hideSideBar
            }"
          >
            <a class="siteP" href="http://192.168.6.80"
              ><i class="fa fas fa-home fa-lg"></i> &nbsp;Accueil LUCY
            </a>
          </div>
        </ng-container>
        <ul
          [ngClass]="{
            'navbar-nav': true,
            'hide-sidebar': config?.hideSideBar
          }"
        >
          <li
            *ngFor="let item of items"
            [ngClass]="{
              'nav-item': true,
              dropdown: item.isDropDown,
              active: item.isActive
            }"
          >
            <a
              *ngIf="!item.isDropDown"
              class="nav-link d-flex"
              [routerLink]="item.link"
              ><i [class]="item.iconName"></i> &nbsp;&nbsp;{{
                item.displayName
              }}</a
            >
            <a
              *ngIf="item.isDropDown"
              class="nav-link d-flex"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i [class]="item.iconName"></i> &nbsp;
              {{ item.displayName }}
              &nbsp;
              <span class="dropdown-toggle"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a
                class="dropdown-item"
                *ngFor="let dropdownItem of item.dropndownElements"
                [routerLink]="dropdownItem.link"
                >{{ dropdownItem.displayName }}</a
              >
            </div>
          </li>
        </ul>
      </ul>

      <span
        style="color: white; margin-right: 10px; font-weight: bold"
        class="nomUser"
        >{{ user?.nom }}</span
      >

      <ul class="navbar-nav">
        <li class="nav-item dropdown profile">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <!-- <i class="fa fas fa-user-circle fa-xl" style="margin-right: 8px;"></i> -->
            <img
              width="35px"
              style="
                margin-right: 8px;
                border-radius: 50%;
                margin-top: -1vh !important;
              "
              class="imageProfil"
              src="{{ FILE_SERVER }}/pictures/agent/{{ user?.matricule }}"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdownMenuLink"
            style="
              box-shadow: 5px 5px 10px rgba(47, 47, 47, 0.304) !important;
              border-radius: 4px;
              background-color: #ebecf1 !important;
            "
          >
            <div
              style="text-align: center; width: fit-content"
              class="userLi pl-3"
            >
              <p
                style="font-size: 11px !important; font-weight: 750 !important"
              >
                {{ user?.fonction }}
              </p>
            </div>
            <hr style="margin-top: 2px" />
            <a
              class="dropdown-item decoM d-flex align-items-center justify-content-center"
              (click)="deconex()"
              style="
                color: rgba(168, 43, 43, 0.822) !important;
                cursor: pointer;
                font-size: 14px !important;
                font-weight: bold;
              "
            >
              <div class="pt-2">Déconnexion &nbsp;</div>
              <i class="bx bx-log-in bx-sm pt-1"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
